@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;

}



.container {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    border-radius: 0.5rem;
}



.image_p_left {
    width: 300px;
    border-radius: 0.5rem 0 0 0.5rem;
}

.container_right {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%)
}

.container header {
    letter-spacing: 0.3rem
}



.container_right h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: xx-large;
    color: hsl(0, 0%, 0%);

}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price_new {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: xx-large;
}

.price_old {
    padding-inline-start: 1rem;
}


.bn_add {
    background-color: rgb(62 129 104);
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    border: none;
    cursor: pointer
}

.bn_add:active {
    background-color: rgb(42, 90, 73);
}

.bn_add img {
    padding-inline: 1rem;
}